* {
    font-family: sans-serif;
    font-size: 0.85rem;
}

body {
    color: black;
}

.siteheader {
    color: grey;
    text-align: left;
    padding: 1rem;
    border-bottom: 0.1rem solid grey;
}

.site-title {
    font-size: 2.0rem;
}

.site-description {
    font-size: 1.5rem;
}

.maincontent {
    padding: 1rem;
}

.sitefooter {
    color: white;
    background-color: gray;
    text-align: right;
    font-size: 1rem;
    border-top: 0.1rem solid grey;
    padding: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input {
    border: 0.1rem solid darkgrey;
    border-radius: 0.2rem;
}

.output {
    border: 0.1rem solid darkgrey;
    border-radius: 0.2rem;
    text-align: center;
}

.small-number {
    width: 2rem
}

#headers {
    color: darkblue;
}

#dr {
    font: italic 1rem Segoe print;
}